{% extends "layout.html" %}

{% block content %}

<h1>New project</h1>

<form action"/new" method="post">
    <label for="name">Name</label>
    <input type="text" id="name" name="name" placeholder="tugboat">
    <label for="image">Image</label>
    <input type="text" id="image" name="image" autocorrect="off" autocapitalize="off" placeholder="ghcr.io/santaclaas/tugboat:main">
    <button type="submit">Create</button>
</form>

{% endblock %}

{% block scripts %}
{% endblock %}

{% call super() %}
