name: Deploy Development Environment

concurrency:
  group: development
  cancel-in-progress: true

on:
  registry_package:
    types: [updated, published]
  # Allow manual update
  workflow_dispatch:
  workflow_call:

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment:
      name: development
      url: https://melt.claa.sh/
    if: github.event_name == 'workflow_dispatch' || github.event_name == 'workflow_call' || github.event.registry_package.package_version.container_metadata.tag.name == 'meal'
    steps:
      - name: deploy
        # The container id is not really a secret but it obfuscation doesn't hurt either
        run: 'curl --fail --show-error -H "Authorization: ${{ secrets.TUGBOAT_TOKEN }}" --request POST https://tugboat.claa.sh/containers/${{ secrets.TUGBOAT_DELIVERY_SERVICE_CONTAINER_ID }}/update'
